<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link href = "../styles.css" rel = "stylesheet" type ="text/css"/>
	<link href='http://fonts.googleapis.com/css?family=Press+Start+2P' rel='stylesheet' type='text/css'>
</head>
<body>
	<div id = "show">
	<img src = "<%= pic[2] %>"> <br>
	see other <a href ="/tags/<%= pic[1] %>"><%= pic[1] %></a> grams
	
	<form action = "/pics/<%= pic[0] %>" method = "POST">
		<input type = "hidden" name = "_method" value = "DELETE">
		<button>delete</button>
	</form>
	<a href="/">Go Home</a>
	</div>
</body>
</html>