<!DOCTYPE html>
<html>
<head>
	<link href = "../styles.css" rel = "stylesheet" type ="text/css"/>
	<link href='http://fonts.googleapis.com/css?family=Press+Start+2P' rel='stylesheet' type='text/css'>
	<title></title>
</head>
<body>
	<a href = "/"><h1>InstaTag</h1></a>
	<h2 id="tag"><%= tag %></h2>
	<% if (results) %>
	<ul class="ul_tag"> 
		<% results.each do |pic| %> 
			<li><img src= "<%= pic[2] %>"</li>
		<% end %> 
	</ul>
	<% end %> 

</body>
</html>