li img{
	width: 10em;
	height: auto
}
li{ 
	display: inline-block;
	margin:.75em;
}
h1{
	position: absolute;
	padding-top: .3em;
	right: 1.75em;
	margin:auto
}
body{
	font-family: 'Press Start 2P', cursive;
}

div#show{
	margin:auto;
	text-align: center
}
#show img{ 
	width: 25em; 
	height: auto;
	padding: 3em
}
.location {
	display: inline-block;
}

#locate_text{
	position: relative;
	font-size: .75em;
	top: 4px;
}

form {
	padding-left: 3em;
}

.search_results {
	position: relative;
	top: 3.2em;
}
button{
	font-family: 'Press Start 2P', cursive;
	font-size: .75em;
	outline: none;
	border: none;
	background-color: white;
}

a {
	text-decoration: none;
}

.ul_tag {
	position: relative;
	top: 1.5em;
}

#tag {
	position: relative;
	top: .7em;
	left: 2.2em;
	color: red;
}

#submit {
	position: relative;
	top: .3em;
}
#submit:hover {
	color:#44cc8a;
}

#delete {
	position: relative;
	left: -30px;
}
#delete:hover {
	color:#44cc8a;
}

.save:hover {
	color:#44cc8a;
}
